<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schroll">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schroll">

        <activity android:name=".addTeacherActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".addStudentActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity3" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".courseViewActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".coursesViewActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".uploadCourseActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".chooseClassroomActivity2" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".chooseClassroomActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".editHomeWorkActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity2" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pdf_list" android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".exercicePDFs"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homeWorkDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".homeWorksActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GradesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimeTableActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".announcementsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Course_01_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".loginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>